<% provide(:title, 'selam') %>

<div id="splashLogoContainer">
	<%= link_to image_tag("splashLogo.png", alt: "coz", id: "splashLogo"), root_path %>
</div>

<div id="splashNav">
      <div class="textButton"><%= link_to "signup", signup_path %></div>
      <div class="textButton caption">/</div>
      <div class="textButton"><%= link_to "login", '#' %></div>
</div>