<% provide(:title, 'hello') %>


<div id="formFrame">
	  	<%= image_tag("logo.png", alt: "coz", id: "logoSignUp")%>


			<div id="splashNav">
			      <div class="textButton"><%= link_to "signup", signup_path %></div>
			      <div class="textButton caption">/</div>
			      <div class="textButton"><%= link_to "login", signin_path %></div>
			</div>		  
    
</div>
