<%= link_to show_protected_conversation_path(@project.conversations[1]) , 
	 						{ :remote => true, :method => :get, :class=>'get_post' } do %>


<div class="menu_button" cid="c<%=@project.conversations[1].id%>" id="pp1" title="team" index="3">

	<div class="subheader_button_innerFrame">
		<div class="subheader_label_container">
			<div class="subheader_label">
				team
			</div>
		</div>
		<div class="subheader_indicator_container">

			<div class="subheader_indicator">
				<%= @project.users.count %>
			</div>
		</div>
	</div>
</div>
<% end %>


