<%= link_to show_protected_conversation_path(@project.conversations[2]) , 
	 						{ :remote => true, :method => :get, :class=>'get_post' } do %>

<div class="menu_button" cid="c<%=@project.conversations[2].id%>" id="pp2" title="tickets" index="2">

	<div class="subheader_button_innerFrame">
		<div class="subheader_label_container">
			<div class="subheader_label">
				tickets
			</div>
		</div>
		<div class="subheader_indicator_container">

			<div class="subheader_indicator">
				<%= @project.conversations[2].posts.count %>
			</div>
		</div>
	</div>
</div>

<% end %>


