<% provide(:title, 'people') %>

	
	<%= render "shared/menu_home" %> 

<div id="gridFrame">
	<div class="grid_list">

		<%= will_paginate %>


		  <% @users.each do |user| %>
		    <%= render user %>
		  <% end %>
		

		<%= will_paginate %>	
	</div>
</div>
	


<script>
	$("#pp1").addClass("active_button");
</script>



