<% provide(:title, 'people') %>
<div id="gridFrame">
	
	<%= render "shared/menu_home" %> 

	<div class="grid_list">

		<%= will_paginate %>


		  <% @users.each do |user| %>
		    <%= render user %>
		  <% end %>
		

		<%= will_paginate %>	
	</div>
	

</div>

<script>
	$("#people_button").addClass("active_button");
</script>



