<!--<div class="right_bullet_symbol"></div> -->

<%= form_for(@post) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.text_field :content, :id => "post_field", placeholder: "Compose new post..." %>
	<%= f.hidden_field :conversation_id, :value => conversation.id  %>
<% end %>


