<div class="conversation" id="dashboard">
	<div class="conversation_bg"></div>

	<div class="conversation_header">
		<div class="conversation_header_bg"></div>
		<div class="bullet_symbol"></div>
		<div class="conversation_label" >
			Dashboard
		</div>
		
				<div class="right_bullet_symbol"></div>
				<div class="conversation_stat">
				</div>
				<div class="right_bullet_symbol"></div>
				<div class="conversation_stat">
				</div>
		
	</div>
	

	<div class="posts_frame">
	</div>
</div>

