<% @conversation = @project.conversations[5] %>
<div class="column" id="c<%= @conversation.id %>">

			<%= render 'shared/post_form', conversation: @conversation %>

			<% if @conversation.posts.any? %>
			    <%= render @conversation.posts %>
			<% end %>	
	
		
		</div>

<script>
	$("#c<%= escape_javascript(@conversation.id.to_s() )%> .post").draggable({
											containment: "window",
											helper: "clone",
											scroll: true,
											opacity: 0.7,
											appendTo: "body",
											cursor: 'move',
											revert: true,
											zIndex: 9999,
											activeClass: "post_during_drag"
		        });
</script>
</div>
