<% provide(:title, 'projects') %>

	<%= render "shared/menu_home" %> 

<div id="gridFrame">

	<div class="grid_list">

		<%= will_paginate %>
	
		  <% @projects.each do |project| %>
		    <%= render project %>
		  <% end %>
	
		<%= will_paginate %>	
	</div>
	
</div>
<script>
	$("#pp2").addClass("active_button");
</script>



