<% provide(:title, 'projects') %>
<div id="gridFrame">
	
	<%= render "shared/menu_home" %> 

	<div class="grid_list">

		<%= will_paginate %>
	
		  <% @projects.each do |project| %>
		    <%= render project %>
		  <% end %>
	
		<%= will_paginate %>	
	</div>
	

</div>

<script>
	$("#projects_button").addClass("active_button");
</script>



