@import "variables";

#gridFrame {
	
	position: absolute;
	top: 6 * $unit + $border-thickness;
	bottom: 0;
	left: 20 * $unit;
	right: 0;
	overflow: hidden;
	white-space: normal;

}

#protectedFrame {
	
	position: absolute;
	top: 6 * $unit + $border-thickness;
	bottom: 0;
	width: 20 * $unit;
	left: 0;
	overflow-x: scroll;
	white-space:nowrap;
	overflow-y: hidden;
}

#feedFrame {
	
	position: absolute;
	top: 6 * $unit + $border-thickness;
	bottom: 0;
	left: 20 * $unit;
	right: 0;
	overflow-y: hidden;
	overflow-x: scroll;
	white-space:nowrap;
	
}


.nest_frame {

	display: inline-block;
	height: 100%;
	width: auto;
	overflow-x: hidden;
	max-width: 100%;
	max-height: 100%;
	white-space:nowrap;

}

.column {
	display: inline-block;
	width: 20 * $unit - $border-thickness;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100%;
	line-height: 0;
	white-space: normal;
}


.column_innerframe {
	position: relative;
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100%;
	line-height: 0;
	white-space: normal;
	z-index:7;
}

.menu {
	line-height: 100%;
	position: relative;

	left: 0;
	height: 100%;
	float: left;	
	background-color: #333333;
	border-right: 1px solid #1a1a1a;
	border-top: 1px solid #454545;
}



.menu_button {
	
	position: relative;
	float: left;
	white-space: normal;

	
	height: 5 * $unit - 1 * $border-thickness;
	width: 20 * $unit - $border-thickness;
	max-height: 5 * $unit - 1 * $border-thickness;
	max-width: 20 * $unit - $border-thickness;
	

	border-bottom: 1px solid #1a1a1a;
	box-shadow: 0 $border-thickness #454545;
  -moz-box-shadow: 0 $border-thickness #454545;
  -webkit-box-shadow: 0 $border-thickness #454545;
	
	&:hover {
		border-bottom: 1px solid #222222;
		box-shadow: 0 $border-thickness #494949;
	  -moz-box-shadow: 0 $border-thickness #494949;
	  -webkit-box-shadow: 0 $border-thickness #494949;
		
		.subheader_label{
			color: #E0760B;
			text-decoration: underline;
		}
	}
	

}

a {
	
	color: #1a1a1a !important;
	text-decoration: none;
	
}
#feed_button {
	
	border-top: 1px solid #454545;
	
	.subheader_label {
		padding-left: $unit;
		padding-right: $unit;
		padding-top: 1 + 3 * $unit /2;	
		padding-bottom: - 1 + 2.8 * $unit /2;	

	}
	
}

.active_button {
	
	background-color: #202020;
	
	.subheader_label {
		color: #FCFCFC;
	}

	.subheader_indicator {
		color: #FCFCFC;
	}
}

.subheader_button_innerFrame {

	-webkit-border-radius: 1 * $unit;
	-moz-border-radius: 1 * $unit;
	border-radius: 1 * $unit;
	position: absolute;
	height: 5 * $unit;
	width: 20 * $unit;
	border: none;

	
}

.subheader_label_container{
	height: 5 * $unit;
	width: 15 * $unit;

	float:left;
	
	cursor:pointer;
}

.subheader_label{
	position: relative;
	float: left;
	color: #DCDCDC;
	font-size: 1.8 * $unit;
	text-shadow: 0 1px 1px #080808;
	padding-left: $unit;
	padding-right: $unit;
	padding-top: 1.6 * $unit;
	padding-bottom: 2.1 * $unit;	
	max-width: 15 * $unit;

}


.subheader_date_label{
	position: relative;
	float: left;
	color: #DCDCDC;
	font-size: 1.8 * $unit;
	text-shadow: 0 1px 1px #080808;
	padding-left: $unit;
	padding-right: $unit;
	padding-top: 1.7 * $unit;
	padding-bottom: 2.0 * $unit;	
	max-width: 15 * $unit;

}


.subheader_indicator_container{
	height: 5 * $unit;
	width: 3.5 * $unit - 1;
	position: relative;
	float: right;	
	padding-right: 1 * $unit + 1 ;
	cursor:pointer;
}


.subheader_indicator {
	position: relative;
	float: left;
	color: #DCDCDC;
	font-size: 1.6 * $unit;
	text-shadow: 0 1px 1px #080808;
	padding-top: 1.8 * $unit;
	padding-bottom: 1.9 * $unit;
	
	text-align: right;
	width: 100%;
	max-width: 15 * $unit;

}



.subheader-arrow-up-frame {
	width: 0; 
	height: 0; 
	border-left: 2*$unit solid transparent;
	border-right: 2*$unit solid transparent;
	
	border-bottom: 2*$unit solid #EFEFEF;
	
	position: absolute;
	bottom: -0*$unit - 0*$border-thickness - 6;
	left: 0.6*$unit + 10*$unit - 1*$unit;
	z-index: -2;
	opacity: 0;
	display: none;
}

.subheader-arrow-up-body {
	width: 0; 
	height: 0; 
	border-left: 2*$unit solid transparent;
	border-right: 2*$unit solid transparent;
	
	border-bottom: 2*$unit solid #fdfdfd;
	
	position: absolute;
	bottom: -0*$unit - 1* $border-thickness - 6;
	left: 0.6*$unit + 10*$unit - 1*$unit;

	z-index: 3;
	opacity: 0;
	display: none;
}


/* GRIDLIST */

.grid_list{
	
	position: relative;
	top: 0;
	
	float: left;
	left: 0;
	
	height: 100%;
	width: auto;
	
	overflow-x: hidden;
	overflow-y: scroll;
}
