.post {
	
	display: inline-block;
	

	margin: 20px;
	
	height: 200px;
	width: 200px;
	
	border: 1px solid #000000;
	
}

.fieldFrame {
	
	display: inline-block;
	position: relative;
	float: left;
	
	width: 200px;
	height: 100%;
}

.field {
	

	
	width: 200px;
	height: 100px;
	
}

textarea {
	
	width: 200px;
	height: 100px;
	
}