@import "variables";

.post {
	
	display: inline-block;
	white-space: wrap;
	

	margin: 2 * $unit - 2;
	
	height: 20 * $unit;
	width: 20 * $unit;
	
	border: 1px solid #000000;
	
}

.fieldFrame {
	
	display: inline-block;
	position: relative;
	float: left;
	
	width: 20 * $unit;
	height: 100%;
}


