@import "variables";

.post {
	
	display: inline-block;
	white-space: normal;
	
	margin: 0 * $border-thickness;
	margin-right: 1 * $unit;
	margin-bottom: 1 * $unit;

	line-height: 100%;
	


	border: 1px solid #CCCCCC;
	
	background-color: #ADADAD;
	
	&:hover {
		border: 1px solid #999999;		
		opacity: 1;
		.post_content {
			color: #020202;
		}
	}
	
	cursor: move;

	
}





.postInnerFrame {

	overflow-y: visible;
}




.fieldFrame {
	
	display: inline-block;
	position: relative;
	float: left;
	
	width: 18 * $unit - 2*$border-thickness;
	height: 100%;
}

.post_header {
	
	position: relative;
	width: 100%;
	height: 2.5 * $unit - $border-thickness;

	border-bottom: 1px solid #B4B4B4 ; 
	
	&:hover{
		cursor: pointer;
		.post_label {
			
			color: #020202;
			text-decoration: underline;

		}
		
	};
}

.new_post_header {	
	
	position: relative;
	width: 100%;
	height: 3 * $unit - 1;

	&:hover {
		.new_post_header_bg {
			
			background-image: -ms-linear-gradient(top, $pt_hd_bg1 0%, $pt_hd_bg2 50%, $pt_hd_bg3 100%);
			/* Mozilla Firefox */ 
			background-image: -moz-linear-gradient(top, $pt_hd_bg1 0%, $pt_hd_bg2 50%, $pt_hd_bg3 100%);
			/* Opera */ 
			background-image: -o-linear-gradient(top, $pt_hd_bg1 0%, $pt_hd_bg2 50%, $pt_hd_bg3 100%);
			/* Webkit (Safari/Chrome 10) */ 
			background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, $pt_hd_bg1), color-stop(0.5, $pt_hd_bg2), color-stop(1, $pt_hd_bg3));
			/* Webkit (Chrome 11+) */ 
			background-image: -webkit-linear-gradient(top, $pt_hd_bg1 0%, $pt_hd_bg2 50%, $pt_hd_bg3 100%);
			/* W3C Markup, IE10 Release Preview */ 
			background-image: linear-gradient(to bottom, $pt_hd_bg1 0%, $pt_hd_bg2 50%, $pt_hd_bg3 100%);
		}
		
	}

}

.new_conversation_header {	
	
	position: relative;
	width: 100%;
	height: 3 * $unit - 1;

	&:hover {
		#submitPost { color:#dEDEDE; }
		
		.new_post_header_bg {
			

			/* IE10 Consumer Preview */ 
			background-image: -ms-linear-gradient(top, $ppt_hd_bg1 0%, $ppt_hd_bg2 50%, $ppt_hd_bg3 100%);
			/* Mozilla Firefox */ 
			background-image: -moz-linear-gradient(top, $ppt_hd_bg1 0%, $ppt_hd_bg2 50%, $ppt_hd_bg3 100%);
			/* Opera */ 
			background-image: -o-linear-gradient(top, $ppt_hd_bg1 0%, $ppt_hd_bg2 50%, $ppt_hd_bg3 100%);
			/* Webkit (Safari/Chrome 10) */ 
			background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, $ppt_hd_bg1), color-stop(0.5, $ppt_hd_bg2), color-stop(1, $ppt_hd_bg3));
			/* Webkit (Chrome 11+) */ 
			background-image: -webkit-linear-gradient(top, $ppt_hd_bg1 0%, $ppt_hd_bg2 50%, $ppt_hd_bg3 100%);
			/* W3C Markup, IE10 Release Preview */ 
			background-image: linear-gradient(to bottom, $ppt_hd_bg1 0%, $ppt_hd_bg2 50%, $ppt_hd_bg3 100%);
		}
		
	}

}




.post_label {
	
	position: relative;
	float: left;
	color: #ffffff;
	font-size: 1.4 * $unit;
	text-shadow: 0 1px 1px #666666;
	padding-left: 0.7 * $unit;
	padding-right: 0.8 * $unit;
	padding-top: 0.5 * $unit;
	padding-bottom: 0.6 * $unit;
	&:hover{
		color: #020202;
		text-decoration: underline;}
}

.new_post_label {
	
	position: relative;
	float: left;
	color: #fdfdfd;
	font-size: 1.4 * $unit;
	text-shadow: 0 1px 1px #666666;
	padding-left: 0.9 * $unit;
	padding-right: 0.9 * $unit;
	padding-top: 0.5 * $unit;
	padding-bottom: 0.5 * $unit;

}


.post_timestamp {

	position: relative;
	float: right;
	color: #FDFDFD;
	
	font-size: 1.3 * $unit;
	text-shadow: 0 1px 1px #666666;
	padding-left: 0.8 * $unit;
	padding-right: 0.7 * $unit;
	padding-top: 0.5 * $unit;
	padding-bottom: 0.6 * $unit;

}

.post_content_frame {
	position: relative;
	width: 19 * $unit - 2*$border-thickness;

	float: left;
	
	border-top: 1px solid #A0A0A0; 
	border-bottom: 1px solid #B4B4B4;
	

}

.new_post_content_frame {
	position: relative;
	width: 100%;
	height: 14 * $unit - 2;

	textarea {	background-color: transparent;	}
}




.post_content{

	height: auto;
	width: 17.6 * $unit - 2*$border-thickness;

	position: relative;
	float: left;
	color: #1a1a1a;
	font-size: 1.4 * $unit;
	text-shadow: 0 1px 1px #666666;
	padding-left: 0.7 * $unit;
	padding-right: 0.7 * $unit;
	padding-top: 0.0 * $unit;
	padding-bottom: 0.6 * $unit;


	
	word-wrap: break-word;
	overflow-x: hidden;
	overflow-y: auto;
	font-weight: normal;
	color: #1a1a1a;
	line-height: 2.4 * $unit;
	

}


.post_vote_container {

	position: relative;
	width: 3 * $unit ;
	height: 14 * $unit - 2;
	float: left;
	&:hover{
		.post_vote_indicator_container{

			border-top: none;
			border-bottom: none;
		}
		background-color: #f0ef9d;
	}
	cursor: pointer;
}

.post_vote_up_container {
	
	position: relative;
	width: 100%;
	height: ((14 * $unit - 2) / 2) - 1.5*$unit;
	text-align: middle;
	padding-bottom: 1.5*$unit;

}

.post_vote_up{
	
	position: absolute; 
	top: 0;
	bottom: 0;	
	left: 0;
	right: 0;
	margin: auto;

	height: 2 * $unit;
	width: 2 * $unit;
}

.post_vote_up_triangle_frame{
	
	position: relative; 
	height: $unit*1.5 + 1;
	width: 100%;
	margin-top: 2px;
	margin-bottom: 0;

}

.post_vote_up_triangle_front{
	
	position: absolute;
	top: 1px; 
	border-color: #F6F6A2 transparent;
	border-style: solid;
	border-width: 0px $unit*1.5 $unit*1.5 $unit*1.5;
	height: 0px;
	width: 0px;	
}

.post_vote_up_triangle_back{
	
	position: absolute;
	top: 0; 
	border-color: #EAEA9A transparent;
	border-style: solid;
	border-width: 0px $unit*1.5 $unit*1.5 $unit*1.5;
	height: 0px;
	width: 0px;	
}

.post_vote_down_container {
	position: relative;
	width: 100%;
	height: ((14 * $unit - 2) / 2 ) -1.5*$unit;
	text-align: middle;
	padding-bottom: 1.5*$unit - 4;
	
 -webkit-transform:rotate(180deg);
}

.post_vote_down {
	
	position: absolute; 
	top: 0;
	bottom: 0;	
	left: 0;
	right: 0;
	margin: auto;
	
	height: 2 * $unit;
	width: 2 * $unit;


}


.post_vote_down_triangle_frame{
	
	position: relative; 
	height: $unit*1.5 + 1;
	width: 100%;
	margin-top: 2px;
	margin-bottom: 0;
		
	
}

.post_vote_down_triangle_front{
	
	position: absolute;
	top: 1px; 
	border-color: #F7F7A4 transparent;
	border-style: solid;
	border-width: 0px $unit*1.5 $unit*1.5 $unit*1.5;
	height: 0px;
	width: 0px;	
}

.post_vote_down_triangle_back{
	
	position: absolute;
	top: 0; 
	border-color: #EAEA9A transparent;
	border-style: solid;
	border-width: 0px $unit*1.5 $unit*1.5 $unit*1.5;
	height: 0px;
	width: 0px;	
}

a {
	
	&:hover{
		.post_vote_down_triangle_front{
			border-color: #FEFED4 transparent !important;
		}
		~ a{
			.post_vote_down_triangle_front{
				border-color: #FEFED4 transparent !important;
			}
			
		} 
	}
	
	&:hover{
		.post_vote_up_triangle_front{
			border-color: #FEFED4 transparent !important;
		}
		~ a{
			.post_vote_up_triangle_front{
				border-color: #FEFED4 transparent !important;
			}
			
		} 
	}
}

.post_vote_indicator_container {
	
	position: absolute;
	width: 2 * $unit - 2 ;
	height: 2 * $unit - 2;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;	
	border-top: 1px solid #EDED9D;
	border-bottom: 1px solid #EDED9D;
	border-left: 1px solid #EDED9D;
	border-right: 1px solid #EDED9D;
	background-color: #FDFDAD;
	text-align: center;		
	z-index: 5;
	cursor: move;

}

.post_vote_indicator {

	position: relative; 
	padding-top: $unit/2;
	padding-bottom: 3px;
	height: 2 * $unit;

	color: #787878;
}


.post_footer {
	clear: left;
	position: relative; 
	width: 100%;
	height: 2.5 * $unit - $border-thickness;
	border-top: 1px solid #A0A0A0; 
	&:hover{

		.post_footer_label {
		color: #1a1a1a;
		text-decoration: underline;}
		#submitPost {color: #1a1a1a;}
	}
}


.new_post_footer {

	position: relative; 
	width: 100%;
	height: 2 * $unit - 1;

	border-top: 1px solid #EDEDED;
	
	&:hover {
		border-top: 1px solid #BCBCBC;		
		.post_footer_label {
		color: #1a1a1a;
		text-decoration: underline;}
		#submitPost {color: #1a1a1a;}
	}
}

.expecting_collision {
	
	border: solid 4px blue;
		
}

.during_collision {
	
	border: solid 4px green;
		
}

.post_during_drag {
	

	border: solid 4px red;
	
}

.post_footer_label {
	position: relative;
	float: left;
	color: #FDFDFD;
	font-size: 1.4 * $unit;
	text-shadow: 0 1px 1px #666666;
	padding-left: 0.7 * $unit;
	padding-right: 0.8 * $unit;
	padding-top: 0.4 * $unit;
	padding-bottom: 0.6 * $unit;


}


.arrow-up-frame {
	width: 0; 
	height: 0; 
	border-left: 2*$unit solid transparent;
	border-right: 2*$unit solid transparent;
	
	border-bottom: 2*$unit solid #DEDEDE;
	
	position: absolute;
	bottom: -0*$unit - 0*$border-thickness;
	left: 0.6*$unit + 10*$unit - 1*$unit;
	z-index: -2;
	opacity: 0;
	display: none;
}

.arrow-up-body {
	width: 0; 
	height: 0; 
	border-left: 2*$unit solid transparent;
	border-right: 2*$unit solid transparent;
	
	border-bottom: 2*$unit solid #fdfdfd;
	
	position: absolute;
	bottom: -0*$unit - 1* $border-thickness;
	left: 0.6*$unit + 10*$unit - 1*$unit;

	z-index: 3;
	opacity: 0;
	display: none;
}


.post_bg {
	
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	height: auto;
	width: auto;
	z-index: -2;
	
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, $pt_bg1 0%, $pt_bg2 50%, $pt_bg3 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, $pt_bg1 0%, $pt_bg2 50%, $pt_bg3 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(top, $pt_bg1 0%, $pt_bg2 50%, $pt_bg3 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, $pt_bg1), color-stop(0.5, $pt_bg2), color-stop(1, $pt_bg3));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, $pt_bg1 0%, $pt_bg2 50%, $pt_bg3 100%);
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, $pt_bg1 0%, $pt_bg2 50%, $pt_bg3 100%);
}

.post_header_bg {
	
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	height: auto;
	width: auto;
	z-index: -2;
	
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, $pt_hd_bg1 0%, $pt_hd_bg2 50%, $pt_hd_bg3 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, $pt_hd_bg1 0%, $pt_hd_bg2 50%, $pt_hd_bg3 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(top, $pt_hd_bg1 0%, $pt_hd_bg2 50%, $pt_hd_bg3 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, $pt_hd_bg1), color-stop(0.5, $pt_hd_bg2), color-stop(1, $pt_hd_bg3));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, $pt_hd_bg1 0%, $pt_hd_bg2 50%, $pt_hd_bg3 100%);
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, $pt_hd_bg1 0%, $pt_hd_bg2 50%, $pt_hd_bg3 100%);
}



.new_post_bg {

position: absolute;
top:0;
bottom: 0;
left: 0;
right: 0;
height: auto;
width: auto;
z-index: -2;

/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, $npt_bg1 0%, $npt_bg2 50%, $npt_bg3 100%);
/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, $npt_bg1 0%, $npt_bg2 50%, $npt_bg3 100%);
/* Opera */ 
background-image: -o-linear-gradient(top, $npt_bg1 0%, $npt_bg2 50%, $npt_bg3 100%);
/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, $npt_bg1), color-stop(0.5, $npt_bg2), color-stop(1, $npt_bg3));
/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, $npt_bg1 0%, $npt_bg2 50%, $npt_bg3 100%);
/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, $npt_bg1 0%, $npt_bg2 50%, $npt_bg3 100%);
}

.new_post_header_bg {

position: absolute;
top:0;
bottom: 0;
left: 0;
right: 0;
height: auto;
width: auto;
z-index: -2;

/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, $npt_hd_bg1 0%, $npt_hd_bg2 50%, $npt_hd_bg3 100%);
/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, $npt_hd_bg1 0%, $npt_hd_bg2 50%, $npt_hd_bg3 100%);
/* Opera */ 
background-image: -o-linear-gradient(top, $npt_hd_bg1 0%, $npt_hd_bg2 50%, $npt_hd_bg3 100%);
/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, $npt_hd_bg1), color-stop(0.5, $npt_hd_bg2), color-stop(1, $npt_hd_bg3));
/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, $npt_hd_bg1 0%, $npt_hd_bg2 50%, $npt_hd_bg3 100%);
/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, $npt_hd_bg1 0%, $npt_hd_bg2 50%, $npt_hd_bg3 100%);
}



