#logoSingUp {
	position: relative;
	margin-top: 10px;
	margin-bottom: 35px;
	height: 120px;
	display: inline;
}


#formFrame {
	
	position: absolute;
	text-align: center;
	
	height: 602px;
	width: 602px;
	
	padding: 1px;
	
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	
	margin: auto;
	


	form {
		letter-spacing: 0px;
		word-spacing: 0px;
	}
	
	input {
		position: relative;
	
		width: 560px;
		height: 66px;
		border: 0px;
		
		&::-webkit-input-placeholder {
		 	line-height: 1.2;
		}
		
		padding: 0px;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 4px;
		font-size: 35px;


		margin: 0;
		
		margin-bottom: 35px;
		
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
		
		border: 1px dashed #343434;
		
		-webkit-box-shadow: 0px 1px 1px 0px #dedede, inset 2px 2px 3px 0px #bbbbbb;
	  -moz-box-shadow: 0px 1px 1px 0px #dedede, inset 2px 2px 3px 0px #bbbbbb;
	  box-shadow: 0px 1px 1px 0px #dedede, inset 2px 2px 3px 0px #bbbbbb;

		&:focus {

			-webkit-box-shadow: 0px 1px 1px 0px #999999, inset 2px 2px 3px 0px #888888;
		  -moz-box-shadow: 0px 1px 1px 0px #999999, inset 2px 2px 3px 0px #888888;
		  box-shadow: 0px 1px 1px 0px #999999, inset 2px 2px 3px 0px #888888;
			border: 1px solid #232323;
		}
		
		&:hover {
			
			border: 1px solid #343434;			
			
		}
		
	
	}
		
	#user_lastname {
		
		width: 256px;
		float: right;
		display: inline;
		
		-webkit-border-top-left-radius: 0px;
		-moz-border-top-left-radius: 0px;
		border-top-left-radius: 0px;
		
		-webkit-border-bottom-left-radius: 0px;
		-moz-border-bottom-left-radius: 0px;
		border-bottom-left-radius: 0px;
		
		border-left: 1px dashed #9a9a9a;
		
		-webkit-box-shadow: 0px 1px 1px 0px #dedede, inset 0px 2px 3px 0px #bbbbbb;
	  -moz-box-shadow: 0px 1px 1px 0px #dedede, inset 0px 2px 3px 0px #bbbbbb;
	  box-shadow: 0px 1px 1px 0px #dedede, inset 0px 2px 3px 0px #bbbbbb;
		
		&:focus {

			-webkit-box-shadow: 0px 1px 1px 0px #999999, inset 0px 2px 3px 0px #888888;
		  -moz-box-shadow: 0px 1px 1px 0px #999999, inset 0px 2px 3px 0px #888888;
		  box-shadow: 0px 1px 1px 0px #999999, inset 0px 2px 3px 0px #888888;
			border: 1px solid #232323;
		}
	}

	#user_firstname {
		
		border-right: 1px dashed #9a9a9a;		
		
		width: 256px;
		float: left;
		display: inline;
		
		-webkit-border-top-right-radius: 0px;
		-moz-border-top-right-radius: 0px;
		border-top-right-radius: 0px;
		
		-webkit-border-bottom-right-radius: 0px;
		-moz-border-bottom-right-radius: 0px;
		border-bottom-right-radius: 0px;
		
		&:focus {
			border: 1px solid #232323;	
		}
		
	}

	#submitSignUp {
			width: 155px;
			float: right;
			display: inline;
			
			
			font-weight: bold;
			color: #454545;
			
			height: 70px;
			padding-bottom: 8px;
		

			-webkit-box-shadow: none;
		  -moz-box-shadow: none;
		  box-shadow: none;
			border: 1px solid #676767;
			background-color: #f9f9f9;

			-webkit-box-shadow: 1px 1px 3px 0px #999999, inset -1px -2px 2px 0px #bfbfbf, inset 2px 2px 2px 0px #ebebeb;
		  -moz-box-shadow: 1px 1px 3px 0px #999999, inset -1px -2px 2px 0px #bfbfbf, inset 2px 2px 2px 0px #ebebeb;
		  box-shadow: 1px 1px 3px 0px #999999, inset -1px -2px 2px 0px #bfbfbf, inset 2px 2px 2px 0px #ebebeb;


			&:hover {
				
				font-weight: bolder;
				color: #221f1f;
				
				border: 1px solid #343434;	
				
				-webkit-box-shadow: 0px 1px 1px 0px #bbbbbb, inset -1px -2px 2px 0px #dddddd, inset 1px 2px 2px 0px #999999;
			  -moz-box-shadow: 0px 1px 1px 0px #bbbbbb, inset -1px -2px 2px 0px #dddddd, inset 1px 2px 2px 0px #999999;
			  box-shadow: 0px 1px 1px 0px #bbbbbb, inset -1px -2px 2px 0px #dddddd, inset 1px 2px 2px 0px #999999;
	
			}
			
	}

	#agreementButton {
			width: 408px;
			height: 70px;
			float: left;
			display: inline;
			
				-webkit-border-radius: 20px;
			-moz-border-radius: 20px;
			border-radius: 20px;
			border: 1px dotted #fdfdfd;		
			
			&:hover {
	
						background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQALt7e3/GWF8EKeyspIRLADjgNiMyByQAADDJw6ZeCveBQAAAABJRU5ErkJggg==) repeat;	

			}


	}

}

