// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

.grid_thumbnail {
	
	position: relative;
	width: 199px;
	height: 199px;
	float: left;
	background-color: #FAFAFA;
	margin-left: 1px;
	margin-top: 1px;

}