/* COLOR THEME */
$bg-color: #fdfdfd;
$coz-green: #92C848;
$coz-green-bg: #CCF291;
$info-bg: #bababa;

/* GRID */

$border-thickness: 2px;

$unit: 10px;

$cv_bg3: #FAFAFA;
$cv_bg1: #F4F4F4;
$cv_bg2: #F7F7F7;

$cv_hd_bg1: #FDFDFD;
$cv_hd_bg3: #F7F7F7;
$cv_hd_bg2: #FAFAFA;